@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: linear-gradient(to right, #0B0B11, #24243e, #0B0B11);
  color: white;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
}